Eclipse Workspace
CourseProjects/CourseProjects/JavaEclipseProjects/JavaLanguageExamples/bin
CourseProjects/CourseProjects/JavaEclipseProjects/DesignPatternsExercises/bin
CourseProjects/CourseProjects/JavaEclipseProjects/DesignPatternsExamples/bin
CourseProjects/CourseProjects/JavaEclipseProjects/DesignPatternsExamples/output
SCALA IDE Workspace/.metadata
