<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Demos of the ASP .NET Web API</h1>
                <h2>Creating your own RESTful Services in .NET</h2>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Have a go at the following:</h3>
        <ol class="round">
            <li class="one">
                <h5><a href="/Content/DojoUsersClient.html">Run the Dojo API</a></h5>
                This page uses the Dojo Framework to access the full functionality of the 
                RESTful service.
            </li>

            <li class="two">
                <h5><a href="/Content/jQueryUsersClient.html">Run the jQuery API</a></h5>
                This page uses the jQuery Framework to access the RESTful service. At present 
                not all the features are accessible due to issues with how jQuery sends PUT and 
                DELETE requests.
            </li>
            <li class="three">
                <h5>Run the Unit and Acceptance Tests</h5>
                The companion project to this application contains both POCO unit tests and 
                acceptance tests that use the 'HttpClient' library. 
            </li>
        </ol>
    </section>
</div>
