@{
    ViewBag.Title = "jQueryIndex";
}

<h3>Querying the Document</h3>
<ul>
    <li><a href="/Examples/jQuery?demoName=BasicQuerying">Querying using CSS selectors</a></li>
    <li><a href="/Examples/jQuery?demoName=CustomQuerying">Using jQuery specific selectors</a></li>
    <li><a href="/Examples/jQuery?demoName=WorkingWithResultSets">Examining and processing query results</a></li>
</ul>
<h3>Working the DOM Tree</h3>
<ul>
    <li><a href="/Examples/jQuery?demoName=ModifyingQueryResults">Modifying the nodes returned from queries</a></li>
    <li><a href="/Examples/jQuery?demoName=CreatingNodes">Creating and adding nodes to the tree</a></li>
</ul>
<h3>Event Handling</h3>
<ul>
    <li><a href="/Examples/jQuery?demoName=BasicEventHandling">Attaching handlers to events</a></li>
    <li><a href="/Examples/jQuery?demoName=UsingNamespacesWithEvents">Using namespaces in event handling</a></li>
</ul>
<h3>Working with Forms</h3>
<ul>
    <li><a href="/Examples/jQuery?demoName=SubmittingFormsViaAjaxl">Submitting forms via AJAX</a></li>
</ul>
