@model IQueryable<CourseBookingStandaloneCS.Models.TrainingCourse>

@{
    ViewBag.Title = "Our Course Catalog";
}

<h1>The Complete Course Catalog</h1>
<table>
    <thead>
        <tr><th>Number</th><th>Title</th><th>Type</th></tr>
    </thead>
    <tbody>    
    @foreach(var course in ViewData.Model) {
            <tr>
                <td>
                    @Html.ActionLink(Html.Encode(course.Number), "ByNumber", "CourseCatalog", new { Number = course.Number }, new { })
                </td>
                <td>@Html.Encode(course.Title)</td>
                <td>@Html.Encode(course.Type)</td>
            </tr>
     }
    </tbody>
</table>
