@{
    ViewBag.Title = "Mobile Course App";
}

@section Header {
    <img alt="company logo" src="/Content/Images/topImage.png"/>
    <h2>@ViewBag.Message</h2>
}
<p>
    Please view our <a href="/CourseCatalog">list of courses</a>.
</p>
